<%= form_for(criterium) do |f| %>
  <% if criterium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criterium.errors.count, "error") %> prohibited this criterium from being saved:</h2>

      <ul>
      <% criterium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entity_name %>
    <%= f.text_field :entity_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :invest_date %>
    <%= f.text_field :invest_date %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :note_type %>
    <%= f.text_field :note_type %>
  </div>

  <div class="field">
    <%= f.label :dollar_invest %>
    <%= f.text_field :dollar_invest %>
  </div>

  <div class="field">
    <%= f.label :NOTIFY_DATE %>
    <%= f.text_field :NOTIFY_DATE %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
