<p id="notice"><%= notice %></p>

<p>
  <strong>Investor:</strong>
  <%= @note.investor %>
</p>

<p>
  <strong>Invest date:</strong>
  <%= @note.invest_date %>
</p>

<p>
  <strong>Note type:</strong>
  <%= @note.note_type %>
</p>

<p>
  <strong>Dollar invest:</strong>
  <%= @note.dollar_invest %>
</p>


<h1>Note's Distribution </h1>
  <body>
      <table>
        <thead>
          <tr>
            <th>Record</th>
            <th>Note ID</th>
            <th>Investor ID</th>
            <th>Invest Date </th>
            <th>Note Type</th>
            <th>Dollar Investment</th>
            <th>Create Date</th>
            <th>Update Date</th>
          </tr>
        </thead>

        <tbody>
          <% @note.distributions.each do |note| %>
            <tr>
              <td><%= link_to 'Show', note %><br>
                <%= link_to 'Edit', edit_note_path(note) %><br>
                <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
              <td><%= note.id %></td>
              <td><%= note.investor_id %></td>
              <td><%= note.invest_date %></td>
              <td><%= note.note_type %></td>
              <td><%= note.dollar_invest %></td>
              <td><%= note.created_at %></td>
              <td><%= note.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Note', new_note_path %>
  </body>

