<p id="notice"><%= notice %></p>

<h1>Notetypes</h1>

<table>
  <thead>
    <tr>
      <th>Note type</th>
      <th>Note program</th>
      <th>Note interest rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notetypes.each do |notetype| %>
      <tr>
        <td><%= notetype.note_type %></td>
        <td><%= notetype.note_program %></td>
        <td><%= notetype.note_interest_rate %></td>
        <td><%= link_to 'Show', notetype %></td>
        <td><%= link_to 'Edit', edit_notetype_path(notetype) %></td>
        <td><%= link_to 'Destroy', notetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notetype', new_notetype_path %>
