<%= form_for(notify) do |f| %>
  <% if notify.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notify.errors.count, "error") %> prohibited this notify from being saved:</h2>

      <ul>
      <% notify.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entity_name %>
    <%= f.text_field :entity_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
