<p id="notice"><%= notice %></p>

<h1>Notifies</h1>

<table>
  <thead>
    <tr>
      <th>Entity name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Invest Date </th>
      <th>Maturity Date </th>
      <th>Notify Date </th>
      <th>Note Type </th>
      <th>Dollar Invest </th>
    </tr>
  </thead>

  <tbody>
    <% @notifies.each do |notify| %>
      <tr>
        <td><%= notify.entity_name %></td>
        <td><%= notify.first_name %></td>
        <td><%= notify.last_name %></td>
        <td><%= notify.invest_date %></td>
        <td><%= notify.MATURITY_DATE %></td>
        <td><%= notify.NOTIFY_DATE %></td>
        <td><%= notify.note_type %></td>
        <td><%= notify.dollar_invest %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>