<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<h1>REVA Funding Visualizations</h1>


<h5> Count of Maturities by Quarter </h5>
  <div>
    <%= column_chart Vizu.group_by_quarter(:MATURITY_DATE).count%>
  </div>

<h5> Sum Dollar Amount by Maturity by Quarter </h5>
  <div> 
    <%= column_chart Vizu.group_by_quarter(:MATURITY_DATE).sum(:dollar_invest) %>
  </div>

<h5>Count of Note Types</h5>
<h7> 0.5 = 6Month </h7>
<h7> 1.0 = 1Year </h7>
<h7> 2.0 = 2Year </h7>
<h7> 3.0 = 3Year </h7>
  <div>
    <%= bar_chart Note.group(:note_type).count %>
  </div>


<h5> New Investors over Time </h5>
  <div>
    <%= line_chart Investor.group_by_week(:created_at).count %>
  </div>
