<p id="notice"><%= notice %></p>

<head>
  <table>
    <tbody>
      <tr>
        <td><%= link_to "Home", controller: 'welcomes' %></td>
      </tr>
    </tbody>
  </table>
</head>

<h1>Investors</h1>
<body>
    <table id="investors">
      <thead>
        <tr>
          <th>Record Actions</th>
          <th>Investor</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Email</th>
          <th>Entity name</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Rep</th>
          <th>Broker</th>
        </tr>
      </thead>

      <tbody>
        <% @investors.each do |investor| %>
          <tr>
            <td><%= link_to 'Show', investor %><br>
              <%= link_to 'Edit', edit_investor_path(investor) %><br>
              <%= link_to 'Destroy', investor, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td><%= investor.investor_id %></td>
            <td><%= investor.address %></td>
            <td><%= investor.city %></td>
            <td><%= investor.state %></td>
            <td><%= investor.zip %></td>
            <td><%= investor.email %></td>
            <td><%= investor.entity_name %></td>
            <td><%= investor.first_name %></td>
            <td><%= investor.last_name %></td>
            <td><%= investor.rep %></td>
            <td><%= investor.broker %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</body>
<br>

<%= link_to 'New Investor', new_investor_path %>
