<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
</style>


<p id="notice"><%= notice %></p>


<h1>REVA Funding, LLC Investors</h1>
    <table id="investors" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Record Actions</th>
          <th>Investor</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Email</th>
          <th>Entity name</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Rep</th>
          <th>Broker</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Record Actions</th>
          <th>Investor</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Email</th>
          <th>Entity name</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Rep</th>
          <th>Broker</th>
          <th>Active? </th>
        </tr>
      </tfoot>

      <tbody>
        <% @investors.each do |investor| %>
          <tr>
            <td><%= link_to 'Show', investor %> <br>
              <%= link_to 'Edit', edit_investor_path(investor) %> <br>
              <%= link_to 'Destroy',investor, method: :delete, data: { confirm: 'Are you sure? In order to delete an investor record you must first delete the investors notes...' } %><br>
            </td>
            <td><%= investor.investor_id %></td>
            <td><%= investor.address %></td>
            <td><%= investor.city %></td>
            <td><%= investor.state %></td>
            <td><%= investor.zip %></td>
            <td><%= investor.email %></td>
            <td><%= investor.entity_name %></td>
            <td><%= investor.first_name %></td>
            <td><%= investor.last_name %></td>
            <td><%= investor.rep %></td>
            <td><%= investor.broker %></td>
            <td><%= investor.active %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<br>
