<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>

<p>
  <strong>Investor:</strong>
  <%= @investor.investor_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @investor.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @investor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @investor.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @investor.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @investor.email %>
</p>

<p>
  <strong>Entity name:</strong>
  <%= @investor.entity_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @investor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @investor.last_name %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @investor.rep %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @investor.broker %>
</p>


<body>
    <table id="notes">
      <thead>
        <tr>
          <th>Dollar Investment </th>
        </tr>
      </thead>

      <tbody>
        <% @investor.notes.each do |note| %>

            <td><%= @investor.notes.dollar_invest %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</body>

