<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>

<body>
  <table>
    <thead>
      <tr>
        <th>Investor ID</th>
        <th>Address </th>
        <th>City </th>
        <th>State </th>
        <th>Zip</th>
        <th>Email </th>
        <th>Entity Name </th>
        <th>First Name</th>
        <th>Last Name </th>
        <th>Rep</th>
        <th>Broker</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @investor.investor_id %></td>
        <td><%= @investor.address %></td>
        <td><%= @investor.city %></td>
        <td><%= @investor.state %></td>
        <td><%= @investor.zip %></td>
        <td><%= @investor.email %></td>
        <td><%= @investor.entity_name %></td>
        <td><%= @investor.first_name %></td>
        <td><%= @investor.last_name %></td>
        <td><%= @investor.rep %></td>
        <td><%= @investor.broker %></td>
    </tbody>
  </table>
</body>

<!-- 
<p>
  <strong>Investor:</strong>
  <%= @investor.investor_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @investor.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @investor.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @investor.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @investor.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @investor.email %>
</p>

<p>
  <strong>Entity name:</strong>
  <%= @investor.entity_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @investor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @investor.last_name %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @investor.rep %>
</p>

<p>
  <strong>Broker:</strong>
  <%= @investor.broker %>
</p>
 -->

<body>
    <table>
      <thead>
        <tr>
          <th>Dollar Investment</th>
          <th>Invest Date </th>
          <th>Note Type </th>
          <th>Dollar Investment </th>
          <th>Create Date </th>
          <th>Update Date </th>
        </tr>
      </thead>

      <tbody>
        <% @investor.notes.each do |note| %>
          <tr>
            <td><%= note.investor_id %></td>
            <td><%= note.invest_date %></td>
            <td><%= note.note_type %></td>
            <td><%= note.dollar_invest %></td>
            <td><%= note.created_at %></td>
            <td><%= note.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New Note', new_note_path %>
</body>
