<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
</style>


<p id="notice"><%= notice %></p>


<h1>Investors to notify of upcoming note maturity</h1>
    <table id="notify" class="display" cellspacing="0" width="100%">
      <tr>
        <th>Entity Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Invest Date</th>
        <th>Email</th>
        <th>Note Type</th>
        <th>Dollar Invest</th>
        <th>Notify Date</th>
      </tr>
      <% @notifications.each do |notify| %>
        <tr>
          <td><%= notify.entity_name %></td>
          <td><%= notify.first_name %></td>
          <td><%= notify.last_name %></td>
          <td><%= notify.invest_date %></td>
          <td><%= notify.email %></td>
          <td><%= notify.note_type %></td>
          <td><%= notify.dollar_invest %></td>
          <td><%= notify.NOTIFY_DATE %></td>
        </tr>
      <% end %>
    </table>
<br>




