<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>

	<% if current_user %>
	  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %> | <%= link_to 'Home', investors_path,  'data-no-turbolink' => true  %> |<%= link_to 'New App User', '/signup' %> | <%= link_to 'New Investor', new_investor_path %> | <%= link_to 'Distributions', distributions_path,  'data-no-turbolink' => true %>

	<% end %>

	<%= yield %>

	</body>
</html>