<!DOCTYPE html>
<html>
<style>
hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0,0,255,1) , rgba(0,0,255,.5), rgba(0,0,255, .10)); 
  text-align: center;
  width: 755px;
}
</style>
<head>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

	<body style="background-color:#BFC9CA;">

  <%= image_tag("reva.jpg", width: '150px', height: '100px', :style => 'float: right') %>

  <hr align="left">
   
	<% if current_user %>
	  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %> | <%= link_to 'Home', investors_path  %> |<%= link_to 'New App User', '/signup' %> | <%= link_to 'New Investor', new_investor_path %>| <%= link_to 'Note Types', notetypes_path %> | <%= link_to 'Notifications', notifies_path %> | <%= link_to 'Data Visualization', vizus_path %>

	<% end %>

	<%= yield %>

	</body>
</html>